<div class="cus-dialog">
    <div class="header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <p class="title">{{"dialog.editProductSpecification"|translate}}</p>
    </div>
    <div class="content">

        <div class="basic-info">
            <form name="detailForm" [formGroup]="detailForm" class="spec-form">
                <input type="hidden" formControlName='id' name='id'>
                <input type="hidden" formControlName='productId' name='productId'>

                <div class="icon-and-info">
                    <div class="icon">
                        <img src="/assets/images/common/noicon.svg">
                    </div>
                    <div class="info">
                        <div class="io">
                            <mat-form-field>
                                <input matInput name="name" formControlName="name"
                                    placeholder='{{"form.name"|translate}}' required />
                                <mat-error *ngIf="f.name.errors?.required">{{'validation.required'|translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="io">
                            <mat-form-field>
                                <input matInput type="number" name="price" formControlName="price"
                                    placeholder='{{"form.price"|translate}}' />
                            </mat-form-field>
                        </div>
                        <div class="io">
                            <mat-form-field>
                                <input matInput type="number" name="partnerPrice" formControlName="partnerPrice"
                                    placeholder='{{"form.partnerPrice"|translate}}' />
                            </mat-form-field>
                        </div>
                        <div class="io">
                            <mat-form-field>
                                <input matInput type="number" name="purchasePrice" formControlName="purchasePrice"
                                    placeholder='{{"form.purchasePrice"|translate}}' />
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="form-item">
                    <mat-form-field>
                        <input matInput name="description" formControlName="description"
                            placeholder='{{"form.description"|translate}}' />
                    </mat-form-field>
                </div>
            </form>
        </div>



    </div>
    <div class="footer">
        <button class="form-button" (click)='dialogRef.close()'>{{"button.cancel"|translate}}</button>
        <button class="form-button confirm" [class.disabled]='!(detailForm.valid&&detailForm.dirty)'
            [disabled]='!(detailForm.valid&&detailForm.dirty)'
            (click)='onSave()'>{{"button.confirm"|translate}}</button>
    </div>
</div>