div.category-single-select-panel {
  // width: 100%;
  height: 100%;
  // overflow: auto;
  padding: 1rem;

  .cus-tree-invisible {
    display: none;
  }

  .cus-tree-node {
    display: block;

    div.nt {
      min-height: 25px;
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    & .cus-tree-node {
      padding-left: 15px;
    }

    p.cus-node-name {
      position: relative;
      word-break: keep-all;
      &.selected {
        color: rgba(26, 115, 232, 1);
      }
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: rgba(26, 115, 232, 1);
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scale(0);
        transition: transform 0.2s ease;
      }

      &:hover {
        cursor: pointer;

        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
