<shared-detail-viewer [icon]='icon?(icon|serverRedirect:128):"/assets/images/common/noicon.svg"'
    [title]='solution?.name?solution.name:("navigation.solution"|translate)'>

    <p class="header-tool-button" (click)='onChangeIcon()'>{{"button.changeIcon"|translate}}</p>

    <div class="basic-info">
        <div class="kv">
            <p class="k">{{'form.createdTime'|translate}}</p>
            <p class="v">{{solution?.createdTime|date}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.modifiedTime'|translate}}</p>
            <p class="v">{{solution?.modifiedTime|date}}</p>
        </div>
    </div>

    <div class="content">
        <mat-tab-group>
            <mat-tab label="{{'tab.basicInfo'|translate}}">
                <morejee-solution-detail-basic [(solution)]='solution'></morejee-solution-detail-basic>
            </mat-tab>
        </mat-tab-group>
    </div>
</shared-detail-viewer>