<div class="header">
  <p class="title">{{title}}</p>
  <div class="button-group">
    <button *ngIf='_showAddButton' (click)='addRecord()'>{{'button.new'|translate}}</button>
    <button *ngIf='_showImportButton'>{{'button.import'|translate}}</button>
    <button *ngIf='_showExportButton'>{{'button.export'|translate}}</button>
  </div>
</div>
<div class="integration">
  <p class="message">{{_lastUpdateMessage}}</p>
  <input type="text" placeholder="{{'tip.pleaseEnterAName'|translate}}" class="search"
    (keyup)='_keyWordUp.next(searchCt.value)' #searchCt>
  <div class="inte-button-group">
    <button *ngIf='_showCancelSearchButton' (click)='initQuery()' matTooltip="{{'button.cancelSearch'|translate}}">
      <mat-icon>reply</mat-icon>
    </button>
    <button (click)='refreshData()' matTooltip="{{'button.refresh'|translate}}">
      <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf='_showFilterButton' (click)='filterData()' matTooltip="{{'button.filter'|translate}}">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button *ngIf='_showDeleteButton' [class.diabled]='!enableDeleteButton' (click)='deleteRecords()'
      matTooltip="{{'button.delete'|translate}}">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button *ngIf='!_hideDrawerToggleButton' (click)='toggleDrawer()'>
      <mat-icon>{{_drawerIconFlag}}</mat-icon>
    </button>
  </div>
</div>