<div class="container cus-warm-car">
    <div class="header">
        <p class="indicator">{{'navigation.productPermissionGroup'|translate}}</p>
        <p class="title" (click)='onEditPermissionGroup(_currentGroup)'>{{currentGroupName}}</p>
    </div>
    <div class="content">
        <div class="area-container">
            <div class="area product-group">
                <div class="area-tool">
                    <p class="title">{{"form.permissionGroup"|translate}}</p>
                    <div class="search">
                        <shared-widget-auto-search-bar (searchChange)='_groupKeyWord=$event;queryPermissionGroup()'>
                        </shared-widget-auto-search-bar>
                    </div>
                    <mat-icon class="toolbar" (click)='onEditPermissionGroup()'>add</mat-icon>
                    <mat-icon class="toolbar warn" [class.disabled]='!_selectedGroudIds'
                        (click)='onDeletePermissionGroup()'>remove</mat-icon>
                </div>
                <div class="area-content">
                    <shared-simple-viewer-table [columnDefs]='permissionColDefs' [datas]='productPermissionGroups'
                        (viewItem)='onViewPermissionGroup($event)' (selectItems)='onSelectPermissionGroup($event)'>
                    </shared-simple-viewer-table>
                </div>
            </div>
            <div class="area organ" *ngIf='currentGroupId'>
                <div class="area-tool">
                    <p class="title">{{"form.organization"|translate}}</p>
                    <div class="search">
                        <shared-widget-auto-search-bar (searchChange)='_organKeyWord=$event;onSearchOrganization()'>
                        </shared-widget-auto-search-bar>
                    </div>
                    <mat-icon class="toolbar" (click)='onAddOrganization()'>add</mat-icon>
                    <mat-icon class="toolbar warn" [class.disabled]='!_selectedOrganIds'
                        (click)='onDeleteOrganization()'>remove</mat-icon>
                </div>
                <div class="area-content">
                    <shared-simple-viewer-table [columnDefs]='organColDefs' [datas]='groupOrganizationItems'
                        (selectItems)='onSelectOrganization($event)'></shared-simple-viewer-table>
                </div>

            </div>
            <div class="area product" *ngIf='currentGroupId'>
                <div class="area-tool">
                    <p class="title">{{"form.product"|translate}}</p>
                    <div class="search">
                        <shared-widget-auto-search-bar (searchChange)='_productKeyWord=$event;onSearchProduct()'>
                        </shared-widget-auto-search-bar>
                    </div>
                    <mat-icon class="toolbar" (click)='onAddProduct()'>add</mat-icon>
                    <mat-icon class="toolbar warn" [class.disabled]='!_selectedProductIds' (click)='onDeleteProduct()'>
                        remove</mat-icon>
                </div>
                <div class="area-content">
                    <shared-simple-viewer-table [columnDefs]='productColDefs' [datas]='groupProductItems'
                        (selectItems)='onSelectProduct($event)'></shared-simple-viewer-table>
                </div>
            </div>
        </div>

    </div>
</div>