<div class="container">
  <div class="header">
    <mat-form-field [floatLabel]='true'>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'tip.enterAKeyword'|translate}}">
    </mat-form-field>
  </div>
  <div class="content">

    <table mat-table [dataSource]="dataSource" class="permission-items" matSort>

      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>{{"glossary.serialNumber"|translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <div class="data-icon" [class.icon]='element["icon"]'
            (click)='_viewLargeIcon(element["icon"]?element["icon"]:"")'>
            <img [src]='element["icon"]?(element["icon"]|serverRedirect:128):"/assets/images/common/noicon.svg"'>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"form.productName"|translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.category"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.permissionGroup"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.description"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>