<div class="cus-dialog">
  <div class="header">
    <p class="title">{{"dialog.editAccessPoint"|translate}}</p>
    <button mat-icon-button (click)='dialogRef.close()'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <form name="detailForm" [formGroup]="detailForm" class="cus-form">
      <input type="hidden" formControlName='id' name='id'>

      <mat-form-field>
        <input matInput name="name" formControlName="name" placeholder='{{"form.name"|translate}}' required />
        <mat-error *ngIf="f.name.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="pointKey" formControlName="pointKey" placeholder='{{"form.pointKey"|translate}}'
          required />
        <mat-error *ngIf="f.pointKey.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="description" formControlName="description"
          placeholder='{{"form.description"|translate}}' />
      </mat-form-field>
    </form>
  </div>
  <div class="footer">
    <button class="form-button" (click)='dialogRef.close()'>{{"button.cancel"|translate}}</button>
    <button class="form-button confirm" [class.disabled]='!detailForm.valid'
      [disabled]='!detailForm.valid' (click)='onSave()'>{{"button.confirm"|translate}}</button>
  </div>
</div>