<div class="cus-dialog">
  <div class="header">
    <p class="title">{{"dialog.selectCategory"|translate}}</p>
    <button mat-icon-button (click)='dialogRef.close()'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <!-- <morejee-category-select-panel></morejee-category-select-panel> -->
  </div>
  <div class="footer">
    <!-- <p class="btn" (click)='dialogRef.close()'>{{"button.cancel"|translate}}</p>
    <p class="btn confirm" (click)='resetPassword()'>{{"button.confirm"|translate}}</p> -->
  </div>
</div>