<form class="cus-form" name="detailForm" [formGroup]="detailForm">
  <input type="hidden" formControlName='id' name='id'>
  <input type="hidden" formControlName='resource' name='resource'>
  <input type="hidden" formControlName='parentId' name='parentId'>

  <div class="cus-form-item">
    <mat-form-field>
      <input matInput name="name" formControlName="name" placeholder='{{"form.name"|translate}}' required />
      <mat-error *ngIf="f.name.errors?.required">{{'validation.required'|translate}}</mat-error>
    </mat-form-field>
  </div>

  <div class="cus-form-item">
    <mat-form-field>
      <input matInput name="nodeType" formControlName="nodeType" placeholder='{{"form.nodeType"|translate}}' required />
      <mat-error *ngIf="f.nodeType.errors?.required">{{'validation.required'|translate}}</mat-error>
    </mat-form-field>
  </div>
  <div class="cus-form-item description">
    <mat-form-field>
      <input matInput name="description" formControlName="description" placeholder='{{"form.description"|translate}}' />
    </mat-form-field>
  </div>
  <div class="cus-form-bar">
    <button mat-button [disabled]='!(detailForm.valid&&detailForm.dirty)' (click)='saveCategory()'>
      <mat-icon>save</mat-icon>
      <span>{{'button.save'|translate}}</span>
    </button>
  </div>
</form>