<div class="category-single-select-panel">
  <cdk-tree #treeCt [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="cus-tree-node">
      <div class="nt">
        <button mat-icon-button disabled></button>
        <p class="cus-node-name" [class.selected]='_selectedCategoryId==node.id' (click)='onNodeSelected(node)'>
          {{node.name}}
        </p>
      </div>
    </cdk-nested-tree-node>

    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="cus-tree-node">
      <div class="nt">
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <p class="cus-node-name" [class.selected]='_selectedCategoryId==node.id' (click)='onNodeSelected(node)'>
          {{node.name}}
        </p>
      </div>
      <div [class.cus-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</div>