div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  div.header {
    padding-top: 10px;
    & > * {
      width: 100%;
    }
    // display: flex;
    // flex-flow: row;
  }
  div.content {
    flex: 1 1 0;
    overflow: auto;
    .mat-table.permission-items {
      width: 100%;
      min-width: 750px;
      tr.mat-header-row {
        height: 35px;
      }
      th.mat-column-no {
        width: 60px;
      }
      th.mat-column-name {
        width: 150px;
      }
      th.mat-column-price {
        width: 80px;
      }
      th.mat-column-partnerPrice {
        width: 80px;
      }
      th.mat-column-purchasePrice {
        width: 80px;
      }
      th.mat-column-groupName {
        width: 120px;
      }
      th.mat-column-icon {
        width: 80px;
      }
      td.mat-column-icon {
        div.data-icon {
          $size: 60px;
          width: $size;
          height: $size;
          &.icon {
            &:hover {
              cursor: zoom-in;
            }
          }

          img {
            width: $size;
            height: $size;
          }
        }
      }
      td.mat-column-name {
        p.data-name {
          word-break: break-all;
          color: rgb(0, 109, 204);

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
