<div class="cus-dialog">
  <div class="header">
    <p class="title">{{"dialog.editProductPermissionGroup"|translate}}</p>
    <button mat-icon-button (click)='dialogRef.close()'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <form name="detailForm" [formGroup]="detailForm" class="group-form">
      <input type="hidden" formControlName='id' name='id'>
      <mat-form-field>
        <input matInput name="name" formControlName="name" placeholder='{{"form.name"|translate}}' required />
        <mat-error *ngIf="f.name.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="description" formControlName="description"
          placeholder='{{"form.description"|translate}}' />
      </mat-form-field>
    </form>
  </div>
  <div class="footer">
    <p class="btn" (click)='dialogRef.close()'>{{"button.cancel"|translate}}</p>
    <p class="btn confirm" (click)='onSave()'>{{"button.save"|translate}}</p>
  </div>
</div>