<shared-detail-viewer [title]='order?.name?order.name:("navigation.order"|translate)'>

  <div class="basic-info">
    <div class="kv">
      <p class="k">{{'form.orderNo'|translate}}</p>
      <p class="v">{{order?.orderNo}}</p>
    </div>
    <div class="kv">
      <p class="k">{{'form.totalNum'|translate}}</p>
      <p class="v">{{order?.totalNum}}</p>
    </div>
    <div class="kv">
      <p class="k">{{'form.totalPrice'|translate}}</p>
      <p class="v">{{order?.totalPrice}}</p>
    </div>
    <div class="kv">
      <p class="k">{{'form.createdTime'|translate}}</p>
      <p class="v">{{order?.createdTime|date}}</p>
    </div>
    <div class="kv">
      <p class="k">{{'form.modifiedTime'|translate}}</p>
      <p class="v">{{order?.modifiedTime|date}}</p>
    </div>
  </div>

  <div class="content">
    <mat-tab-group class="maximum">
      <mat-tab label="{{'tab.basicInfo'|translate}}">
        <oms-order-detail-basic [(order)]='order'></oms-order-detail-basic>
      </mat-tab>
      <mat-tab label="{{'tab.customer'|translate}}" *ngIf='order'>
        <oms-order-detail-customer [orderId]='order.id' [customer]='order.customer'></oms-order-detail-customer>
      </mat-tab>
      <mat-tab label="{{'tab.orderItems'|translate}}" *ngIf='order.orderItems'>
        <oms-order-detail-items [orderItems]='order.orderItems'></oms-order-detail-items>
      </mat-tab>
    </mat-tab-group>
  </div>
</shared-detail-viewer>