<shared-detail-viewer [title]='account?.name?account.name:("navigation.account"|translate)'>

    <p *ngIf='account?.id' class="header-tool-button" (click)='resetPasssword()'>{{'button.resetPasssword'|translate}}
    </p>

    <div class="basic-info">
        <div class="kv">
            <p class="k">{{'form.createdTime'|translate}}</p>
            <p class="v">{{account?.createdTime|date}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.modifiedTime'|translate}}</p>
            <p class="v">{{account?.modifiedTime|date}}</p>
        </div>
    </div>

    <div class="content">
        <mat-tab-group>
            <mat-tab label="{{'tab.basicInfo'|translate}}">
                <basic-account-detail-basic [(account)]='account'></basic-account-detail-basic>
            </mat-tab>
            <mat-tab label="{{'tab.userRole'|translate}}" *ngIf="account.id">
                <basic-account-detail-userrole [account]='account'></basic-account-detail-userrole>
            </mat-tab>
        </mat-tab-group>
    </div>
</shared-detail-viewer>