<div class="container">
  <form name="detailForm" [formGroup]="detailForm" class="cus-form">
    <input type="hidden" formControlName='id' name='id'>
    <div class="cus-form-item">
      <div class="customer-name">
        <mat-form-field>
          <input matInput name="name" formControlName="name" placeholder='{{"form.contact"|translate}}' required />
          <mat-error *ngIf="f.name.errors?.required">{{'validation.required'|translate}}</mat-error>
        </mat-form-field>
        <button mat-button class="contact-book" (click)='openCustomerBook();$event.preventDefault();'>
            <mat-icon>assignment_ind</mat-icon>
          </button>
      </div>
    </div>
    <div class="cus-form-item">
      <mat-form-field>
        <input matInput name="phone" formControlName="phone" placeholder='{{"form.phone"|translate}}' required />
        <mat-error *ngIf="f.phone.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="cus-form-item">
      <mat-form-field>
        <input matInput name="address" formControlName="address"
          placeholder='{{"form.shippingAddress"|translate}}' required />
        <mat-error *ngIf="f.address.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="cus-form-item">
      <mat-form-field>
        <input matInput name="mail" formControlName="mail" placeholder='{{"form.mail"|translate}}' />
      </mat-form-field>
    </div>
    <div class="cus-form-bar">
      <ng-content select='button.form-bar'></ng-content>
      <button mat-button [disabled]='!(detailForm.valid&&detailForm.dirty)' (click)='onSave()'>
        <mat-icon>save</mat-icon>
        <span>{{'button.save'|translate}}</span>
      </button>
    </div>
  </form>
</div>