<div class="container">
  <cdk-tree #treeCt [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="cus-tree-node">
      <div class="nt">
        <button mat-icon-button disabled></button>
        <p class="cus-node-name" [class.selected]='node.id==_selectedCategoryId' (click)='selectCategory(node)'
          (contextmenu)='openMenu($event,node);$event.preventDefault();'>
          <samp *ngIf='_showLRValue' class="lrv">[{{node.lValue}}]</samp>
          <ng-container>{{node.name}}</ng-container>
          <samp *ngIf='_showLRValue' class="lrv">[{{node.rValue}}]</samp>
        </p>
      </div>
    </cdk-nested-tree-node>

    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="cus-tree-node">
      <div class="nt">
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <p class="cus-node-name" [class.selected]='node.id==_selectedCategoryId' (click)='selectCategory(node)'
          (contextmenu)='openMenu($event,node);$event.preventDefault();'>
          <samp *ngIf='_showLRValue' class="lrv">[{{node.lValue}}]</samp>
          <ng-container>{{node.name}}</ng-container>
          <samp *ngIf='_showLRValue' class="lrv">[{{node.rValue}}]</samp>
        </p>
      </div>
      <div [class.cus-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</div>


<ng-template #catMenu let-category>
  <section class="cat-menu">
    <!-- <div (click)='editCategory(category);closeMenu();'>{{'button.edit'|translate}}</div> -->
    <div (click)='addChildCategory(category);closeMenu();'>{{'button.addChildCategory'|translate}}</div>
    <div *ngIf='!category.firstNode' (click)='moveUpCategory(category);closeMenu();'>{{'button.moveUp'|translate}}
    </div>
    <div *ngIf='!category.lastNode' (click)='moveDownCategory(category);closeMenu();'>
      {{'button.moveDown'|translate}}</div>
    <div *ngIf='category.parentId!=""' (click)='changeCategoryHierarchy(category);closeMenu();'>
      {{'button.changeHierarchy'|translate}}</div>
    <div *ngIf='category.parentId!=""' (click)='deleteCategory(category);closeMenu();'>{{'button.delete'|translate}}
    </div>
  </section>
</ng-template>