div.container {

  min-width: 250px;
  max-width: 450px;
  height: 100%;
  overflow: auto;
  padding: 1rem;

  .cus-tree-invisible {
    display: none;
  }

  .cus-tree-node {
    display: block;

    div.nt {
      min-height: 25px;
      display: flex;
      flex-flow: row;
      align-items: center;
    }
    .cus-tree-node {
      padding-left: 15px;
    }

    p.cus-node-name {
      position: relative;
      word-break: keep-all;
      &.selected {
        color: rgba(26, 115, 232, 1);
      }
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: rgba(26, 115, 232, 1);
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scale(0);
        transition: transform 0.2s ease;
      }

      &:hover {
        cursor: pointer;

        &::after {
          transform: scale(1);
        }
      }
      samp.lrv {
        color: red;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

.cat-menu {
  background-color: #fafafa;
  padding: 4pt;
  font-size: 10pt;
  z-index: 1000;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
  border-radius: 4pt;
  padding: 0.5em 0 0.5em 0;
  animation: fadeIn 0.1s ease-out;
  opacity: 1;
  display: block;

  hr {
    border: none;
    border-bottom: 1px solid #eee;
  }

  div {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5em 2em 0.5em 0.75em;
    max-width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #e0e0e0;
    }

    &::before {
      content: "";
      float: left;
      margin-right: 0.75em;
      width: 0.5em;
      height: 1em;
      display: inline-block;
    }
  }
}

/* Animatinons */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.is-fadingIn {
  -webkit-animation: fadeIn 0.1s ease-out;
  animation: fadeIn 0.1s ease-out;
  opacity: 1;
  display: block;
}

.is-fadingOut {
  -webkit-animation: fadeOut 0.1s ease-out;
  animation: fadeOut 0.1s ease-out;
  opacity: 0;
  display: block;
}
