<shared-detail-viewer [title]='customRole?.name?customRole.name:("navigation.customRole"|translate)'>

  <div class="basic-info">
    <div class="kv">
      <p class="k">{{'form.createdTime'|translate}}</p>
      <!-- <p class="v">{{material?.createdTime|date}}</p> -->
    </div>
    <div class="kv">
      <p class="k">{{'form.modifiedTime'|translate}}</p>
      <!-- <p class="v">{{material?.modifiedTime|date}}</p> -->
    </div>
  </div>

  <div class="content">
    <mat-tab-group class="maximum">
      <mat-tab label="{{'tab.basicInfo'|translate}}">
        <basic-customrole-detail-basic [(customRole)]='customRole'></basic-customrole-detail-basic>
      </mat-tab>
      <mat-tab label="{{'tab.accessPoint'|translate}}" *ngIf='customRole.id'>
        <basic-customrole-detail-accesspoint [customRole]='customRole'></basic-customrole-detail-accesspoint>
      </mat-tab>
    </mat-tab-group>
  </div>
</shared-detail-viewer>