<div class="container">
  <div class="header">
    <mat-form-field [floatLabel]='true'>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'tip.enterAKeyword'|translate}}">
    </mat-form-field>
  </div>
  <div class="content">

    <table mat-table [dataSource]="dataSource" class="order-items" matSort>

      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>{{"glossary.serialNumber"|translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <div class="data-icon" [class.icon]='element["icon"]'
            (click)='_viewLargeIcon(element["icon"]?element["icon"]:"")'>
            <img [src]='element["icon"]?(element["icon"]|serverRedirect:128):"/assets/images/common/noicon.svg"'>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"form.productName"|translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
      <ng-container matColumnDef="productSpecName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.specification"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.productSpecName}} </td>
      </ng-container>
      <ng-container matColumnDef="productBrand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.brand"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.productBrand}} </td>
      </ng-container>
      <ng-container matColumnDef="productUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.unit"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.productUnit}} </td>
      </ng-container>
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.unitPrice"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"form.num"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.num}} </td>
      </ng-container>
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"glossary.subTotal"|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>