<shared-detail-viewer [title]='fileAsset?.name?fileAsset.name:("navigation.fileAsset"|translate)'>

    <!-- <p *ngIf='account?.id' class="header-tool-button" (click)='resetPasssword()'>{{'button.resetPasssword'|translate}}
  </p> -->

    <div class="basic-info">
        <div class="kv">
            <p class="k">{{'form.size'|translate}}</p>
            <p class="v">{{fileAsset?.size}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.fileState'|translate}}</p>
            <p class="v">{{fileAsset?.fileState}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.fileExt'|translate}}</p>
            <p class="v">{{fileAsset?.fileExt}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.subscriber'|translate}}</p>
            <p class="v">{{fileAsset?.subscriber}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.subscriberType'|translate}}</p>
            <p class="v">{{fileAsset?.subscriberType}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.createdTime'|translate}}</p>
            <p class="v">{{fileAsset?.createdTime|date}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.modifiedTime'|translate}}</p>
            <p class="v">{{fileAsset?.modifiedTime|date}}</p>
        </div>
    </div>

    <div class="content">
        <mat-tab-group>
            <mat-tab label="{{'tab.basicInfo'|translate}}">
                <oss-fileasset-detail-basic [(fileAsset)]='fileAsset'></oss-fileasset-detail-basic>
            </mat-tab>
        </mat-tab-group>
    </div>
</shared-detail-viewer>