div.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  button.close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  img.icon {
    $size: 483px;
    width: $size;
    height: $size;
  }
}
