<div class="cus-dialog">
  <div class="header">
    <p class="title">{{'dialog.editCategory'|translate}}</p>
    <button mat-icon-button (click)='dialogRef.close()'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <form name="detailForm" [formGroup]="detailForm">
      <input type="hidden" formControlName='id' name='id'>
      <input type="hidden" formControlName='parentId' name='parentId'>

      <mat-form-field>
        <input matInput name="name" formControlName="name" placeholder='{{"form.name"|translate}}' required />
        <mat-error *ngIf="f.name.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="nodeType" formControlName="nodeType" placeholder='{{"form.nodeType"|translate}}'
          required />
        <mat-error *ngIf="f.nodeType.errors?.required">{{'validation.required'|translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="resource" formControlName="resource" placeholder='{{"form.resourceType"|translate}}' />
      </mat-form-field>

      <mat-form-field>
        <input matInput name="description" formControlName="description"
          placeholder='{{"form.description"|translate}}' />
      </mat-form-field>
    </form>
  </div>
  <div class="footer">
    <p class="btn" (click)='dialogRef.close()'>{{"button.cancel"|translate}}</p>
    <p class="btn confirm" (click)='saveCategory()'>{{"button.confirm"|translate}}</p>
  </div>
</div>