<shared-detail-viewer [title]='staticMesh?.name?staticMesh.name:("navigation.staticMesh"|translate)'>

    <div class="basic-info">
        <div class="kv">
            <p class="k">{{'form.createdTime'|translate}}</p>
            <p class="v">{{staticMesh?.createdTime|date}}</p>
        </div>
        <div class="kv">
            <p class="k">{{'form.modifiedTime'|translate}}</p>
            <p class="v">{{staticMesh?.modifiedTime|date}}</p>
        </div>
    </div>

    <div class="content">
        <mat-tab-group>
            <mat-tab label="{{'tab.basicInfo'|translate}}">
                <morejee-staticmesh-detail-basic [(staticMesh)]='staticMesh'></morejee-staticmesh-detail-basic>
            </mat-tab>
        </mat-tab-group>
    </div>
</shared-detail-viewer>