<div class="container">
  <mat-form-field>
    <input type="text" matInput placeholder='{{"form.organizationType"|translate}}' [formControl]="organTypeControl"
      [matAutocomplete]="auto" [required]='_required' />
    <mat-error *ngIf="organTypeControl.errors?.required">{{'validation.required'|translate}}</mat-error>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayValueFn" (optionSelected)='onItemSelectd($event)'>
    <mat-option *ngFor="let option of options" [value]="option">{{option.name}}</mat-option>
  </mat-autocomplete>
</div>