@import "../../../../styles.app.theme.scss";

div.detail-viewer {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  div.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: $GLCommonCardColor;
    border-top-left-radius: $GLCommonCardRadius;
    border-top-right-radius: $GLCommonCardRadius;
    div.icon {
      $size: 40px;
      width: $size + 1px;
      height: $size + 1px;
      border: 1px solid #cccccc;
      background-color: #fff;
      border-radius: 2px;
      margin-right: 0.5rem;
      &:hover {
        cursor: zoom-in;
      }
      img {
        width: $size;
        height: $size;
        border-radius: 2px;
      }
    }
    div.fill {
      flex: 1 1 auto;
    }
  }
  div.basic-info {
    background-color: #fff;
    padding: 1rem;
    border-bottom-left-radius: $GLCommonCardRadius;
    border-bottom-right-radius: $GLCommonCardRadius;
  }
  div.gap {
    height: .7rem;
  }
  div.detail-info {
    flex: 1 1 0;
    position: relative;
    div.mend {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      & > * {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media screen and (max-height: 700px) {
  div.detail-viewer {
    div.gap {
      height: 0.3rem;
    }
  }
}
