<div class="viewer">
    <div class="header">
        <p class="title">{{category?.name?category.name:("navigation.category"|translate)}}</p>
        <div class="button-group">
            <button (click)='goBack()'>{{"button.goBack"|translate}}</button>
        </div>
    </div>
    <div class="content">
        <div class="cat-tree">
            <morejee-category-detail-editor [(category)]='category'
                (categorySelectChange)='basicInfoCt.patchForm($event)' (createCategory)='basicInfoCt.patchForm($event)'>
            </morejee-category-detail-editor>
        </div>
        <div class="detail-info">
            <morejee-category-detail-basic #basicInfoCt (afterSave)='afterCategoryCommit()'>
            </morejee-category-detail-basic>
        </div>
    </div>
</div>