<div class="detail-viewer">
  <div class="header">
    <div class="icon" *ngIf='icon' (click)='viewLargeIcon()'>
      <img [src]="icon">
    </div>
    <p class="title">{{title}}</p>
    <div class="fill"></div>
    <div class="button-group">
      <ng-content select='button.header-tool'></ng-content>
      <button (click)='goBack()'>{{"button.goBack"|translate}}</button>
    </div>
  </div>
  <div class="basic-info">
    <ng-content select='div.basic-info'></ng-content>
  </div>
  <div class="gap"></div>
  <div class="detail-info">
    <div class="mend">
      <ng-content select='div.content'></ng-content>
    </div>
  </div>
</div>