form {
  padding: 0 1rem;
  & > * {
    width: 100%;
  }
  div.sit {
    // min-height: 40px;
    padding-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    .lm {
      margin-left: 0.8rem;
    }
    span.title {
      padding-top: .5rem;
      font-size: 1rem;
    }
    input.cus {
      // flex: 1 1 0;
      outline: none;
      border: none;
      border-bottom: 1px solid #949494;
      &.short {
        width: 60px;
      }
    }
  }
}
