<shared-list-viewer-filter (close)='dialogRef.close()' (search)='onSearch()' (undo)='onClearSearch()'>
    <form [formGroup]="searchForm">
            <input type="hidden" formControlName='priceNotSet' name='priceNotSet'>
        <!-- <mat-form-field>
            <input matInput name="mail" formControlName="mail" placeholder='{{"form.mail"|translate}}' />
        </mat-form-field>
        <mat-form-field>
            <input matInput name="phone" formControlName="phone" placeholder='{{"form.phone"|translate}}' />
        </mat-form-field> -->
        <div class="sit">
            <span class="title">{{"form.price"|translate}}：</span>
            <input type="number" name="minPrice" formControlName="minPrice" class="cus short">
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
            <input type="number" name="maxPrice" formControlName="maxPrice" class="cus short">
            <span class="title lm">{{"form.partnerPrice"|translate}}：</span>
            <input type="number" name="minPartnerPrice" formControlName="minPartnerPrice" class="cus short">
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
            <input type="number" name="maxPartnerPrice" formControlName="maxPartnerPrice" class="cus short">
            <span class="title lm">{{"form.purchasePrice"|translate}}：</span>
            <input type="number" name="minPurchasePrice" formControlName="minPurchasePrice" class="cus short">
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
            <input type="number" name="maxPurchasePrice" formControlName="maxPurchasePrice" class="cus short">
        </div>
        <div class="sit">
            <mat-checkbox color="primary" (change)='onPriceNotSetChange($event)'>未设定零售价</mat-checkbox>
            <mat-checkbox class="lm" color="primary" (change)='onPartnerPriceNotSetChange($event)'>未设定渠道价</mat-checkbox>
            <mat-checkbox class="lm" color="primary" (change)='onPurchasePriceNotSetChange($event)'>未设定进货价</mat-checkbox>
        </div>
    </form>
</shared-list-viewer-filter>