<div class="cus-dialog">
  <div class="header">
    <p class="title">{{"dialog.selectCategory"|translate}}</p>
    <button mat-icon-button (click)='dialogRef.close()'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <morejee-category-single-select-panel *ngIf='category' [category]='category'
      (categorySelected)='onCategorySelected($event)'></morejee-category-single-select-panel>
  </div>
  <div class="footer">
    <p class="message" *ngIf='_selectedCategoryName'>{{"tip.selected"|translate}}：{{_selectedCategoryName}}</p>
    <button class="form-button" (click)='dialogRef.close()'>{{"button.cancel"|translate}}</button>
    <button class="form-button confirm" [class.disabled]='!_selectedCategoryName'
      (click)='saveHierarchyChange()'>{{"button.confirm"|translate}}</button>
  </div>
</div>